html, body
{
  font-family: "Rubik", sans-serif;
  font-size:16px;
  line-height: 150%;
  color:#262932;
  background-color: #ECECEC !important;
  height: 100% !important;
  font-weight: 400;
}
a, p, h1, h2, h3, h4, h5{
  font-family: "Rubik", sans-serif;
  color: #333333;
}
a:hover{
  color:#035680;
  text-decoration: none;
}

h2{
	font-size: 20px;
}

.carousel-inner>.item>a>img,
.carousel-inner>.item>img{
	width: 100%;
	height: 285px;
	object-fit: cover;
	object-position: top;
	position: relative;
}

.carousel-inner>.item>a>img[alt]::after,
.carousel-inner>.item>img[alt]::after
{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content:'';
	background-color: #eee;
}

.list-picture img{
	height: 85px;
	width: 85px;
	float: left;
	object-fit: cover;
	object-position: top;
	position: relative;
	color: transparent;
}

.list-picture.photo-gall img{
	width:100%;
	min-height: 250px;
	object-fit:cover;

}

.list-picture.rekomendasi img{
	width: 100%;
	height: 112px;
}

.list-picture.post-rekomendasi img,
.list-picture.post-popular img{
	width: 100%;
	height: 115px;
}

.list-picture img[alt]::after{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background-color: #eee;

}
.gambar-berita > img.post-img{
	min-height: 230px;
	min-width: 100%;
	object-fit: cover;
	object-position: top;
	position: relative;
}

.gambar-berita > img.post-img[alt]::after{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background-color: #eee;
}

.gambar-berita > img.toggle{
	z-index: 1;
}

.baca-juga ul.list-berita-terkini li img{
	object-fit: cover;
	object-position: top;
	width: 120px;
	height: 75px;
	position: relative;
	color: transparent;
}

.baca-juga ul.list-berita-terkini li img[alt]::after{
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	content: '';
	background-color: #eee;
}



/* style='object-fit:cover;height:115px;width:100%;' */
/* Bagian Header */
.navbar{
	margin-bottom: 0 !important;
}
.navbar.topik-popular{
  list-style: none;
  line-height: 2;
  font-size: 20px;
  padding: 0 10px 20px;
  border-bottom:1px solid rgba(0, 0, 0, 0.24);
}
.navbar.topik-popular li
{
  font-size: 15px;
}

.navbar.sub-rubrik{
  list-style: none;
  font-size: 14px;
  font-weight: 400;
  padding:0;
  width: 100%;min-height: 42px;
  background: #fff;
  white-space: nowrap;
  overflow-x: scroll;
}
.navbar.sub-rubrik li{
  display: inline-block;
  padding: 10px 17px;
  position: relative;
}
.navbar.sub-rubrik li.active a{ color:#035680;}

.navbar-header{
	height: 50px;
}

.navbar-default .navbar-toggle .icon-bar{
	background-color: #035680  !important;
	border-radius: 5px !important;
	height: 1px;
	width: 35px;
	margin: 0 auto;
}

.navbar-toggle .icon-bar+.icon-bar{
	margin-top: 10px !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:active
{
  background: transparent !important;
}

.navbar-default .navbar-header .navbar-toggle{
	border-color: transparent;
}

.navbar-default .navbar-collapse{
	margin-top:10px;
}

h1.read_berita
{
  font: 600 23px/1.3 "Rubik", sans-serif;
}

span.tanggal-release{
  display: inline-block;
  font-size: 11px;
}

.big-close {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
}
.social-optimize{
  margin-top: 10px;
  text-align: left;
}

.social-optimize a.line {
  background: #00e461 url(http://cdn1.tstatic.net/img/logo/linebutton.png) no-repeat center center/ 17px 17px;
  display: inline-block;
  vertical-align: top;
}
a.social-share {
  width: 32px;
  height:32px;
  border-radius:2px;
  color:white;
  font-size: 13px;
  line-height: 2.5;
  text-align: center;
}

a.social-share.big
{
	width: 42px;
	height: 42px;
	font-size: 17px;
	display: table-cell;
}
a.social-optimize a.line.big
{
	background-size: 22px 22px;
}
a.social-share:active, a.social-share:hover{
  text-decoration: none;
  color: #fff;
}

a.social-share.fa-facebook{
  background: #3b5998;
}
a.social-share.fa-twitter{
  background: #55acee;
}
a.social-share.fa-google-plus
{
  background:#dd4b39;
}
a.social-share.fa-whatsapp{
  background: #4dc247;
}
a.social-share.fa-paper-plane{
  background: #007bb5;
}
a.social-share.fa-commenting-o{
  background: #00BF8F;
}
.box-header {margin: 15px -10px 0;}
.big-close:hover::before, .big-close:hover::after
{
  background: #fff;
}
.big-close::before, .big-close::after{
  content: '';
  position: absolute;
  height: 1px;
  width: 85%;
  top:50%;
  left: 3px;
  background-color: #035680;
}

.big-close::before
{
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.big-close::after
{
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* Tombol Back */

.tombol:hover{
	background: #a9a7a7;
	text-decoration: none;
	color: white;
}

#kepala .back .tombol{
	position: absolute;
	top: 10px;
	left: 10px;
	font-size: 36px;
	color: white;
}

#kepala .back a{
	text-decoration: none;
}

#kepala .share-sosmed a{
	text-decoration: none;
}

#kepala .share-sosmed .share{
	position: absolute;
	top: 18.5px;
	right: 10px;
	font-size: 25px;
	/* z-index: 1; */
	color: white;
}

/* /////////////////////////////// */
.box .mini-face .box-mini{
	position: absolute;
	padding: 3px 11px 3px 18px;
	background: white;
	display: inline-block;
	font-size: 12px;
	color: black;
	border: 1px solid #808080;
	border-radius: 0 45px 45px 0;
	left: 15px;
	z-index: 1;
}

.box-header .gambar-berita p{
	background: #14afb4;
	color: white;
	padding: 13px 15px;
	font-size: 16px;
	z-index: 2;
	margin-bottom: 0;
}

.box .mini-face{
	text-align: center;
	margin-top: 12px;
}

.box .mini-face a{
	text-decoration: none;
}

.box .mini-face .box-mini p{
	display: inline;
}

.box .mini-face .apaan{
	position: relative;
	display: inline;
	margin-right: 11%;
}

.box .mini-face img{
	width: 25px;
	z-index: 2;
	position: relative;
	/* border-radius: 100px; */
}

.box .mini-face .apaan .satu:active{
	background: url('assets/Whatsapp-emoji/Like-clicked.png');
}

.box .mini-face .apaan img:active{
	background: url('assets/Whatsapp-emoji/Love-clicked1.png') no-repeat;
}

.modal .box-modal{
	width: 250px;
	background: white;
	margin: 30% auto;
	border-radius: 2px;
}

.modal .box-modal .header-modal{
	border-bottom: 2px solid #14afb4;
}

.modal .box-modal .header-modal h4{
	color: #14afb4;
	margin: 0;
	padding: 12px;
}
.modal .box-modal .body-mo img{
	width: 30px;
	margin-right: 10px;
}

.modal .box-modal .body-mo a{
	display: table;
	padding: 10px;
	width: 100%;
	color: black;
	text-decoration: none;
}

.modal .box-modal .body-mo a:active{
	background: #e6e6e6;
}

.modal .box-modal .body-mo a:first-child{
	padding-top: 20px;
}

.modal .box-modal .body-mo a:last-child{
	padding-bottom: 20px;
}

/* Bagian Social Media */
.sosmed ul.daftar-sosmed{
	height: 30px;
	padding-left: 0;
	list-style: none;
}

.sosmed ul .facebook, .twitter{
	display: inline-block;
	padding: 12px 19px;
}

.sosmed ul .facebook{
	background: #2b64dc;
	text-align: center;
	margin-right: 10px;
}

.sosmed ul .facebook a{
	color: white;
	font-size: 16px;
}

.sosmed ul .twitter{
	background: #00aced ;
	text-align: center;
}

.sosmed ul .twitter a{
	color: white;
	font-size: 16px;
}

/* Style Berita */

.judul-berita{
	font-family: "Lato";
}

.judul-berita h4{
	text-align: center;
	font-size: 17px;
	font-weight: 600;
	color: #14afb4;
	margin: 25px 0 5px;
}

.judul-berita .glyphicon{
	font-size: 11px;
}

.judul-berita .tanggal{
	font-size: 12px;
	color: #ababab;
	text-align: center;
	margin: 0 0 24px;
}

.judul-berita h3{
	font-size: 35px;
	font-weight: 500;
	margin: 5px 0 25px;
	text-align: center;
}

.gambar-berita span,
.gambar-berita img.toggle
{
	color: #035680;
	font-size: 32px;
	width: 30px;
	letter-spacing: 0;
	text-align: center !important;
	box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.38);
	line-height: 0.7;
	position: absolute;
	right: 15px;
	bottom: 15px;
	border-radius: 50%;
}

.gambar-berita img{
	width: 100%;
}

.berita p{
	font-family: "Rubik", sans-serif;
	font-size: 16px;
	margin: 20px 0;
  text-align: left;
  line-height: 170%;
  color: #333;
}

.berita blockquote{
	border-left: 5px solid #3b3b3b;
}

.daftar-redaksi i{
	width: 3em;
	font-size: 7px;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */

/* icon */
.emoticon h4{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: "Lato";
	margin-bottom: 20px;
}

.emoticon table{
	width: 100%;
}

.emoticon td{
	text-align: center;
}

.emoticon td a img{
	border-radius: 40px;
	height: 80px;
}

.emoticon td a .info{
	color: gray;
	font-size: 14px;
	padding-top: 3px;
	margin: 0;
}

.emoticon td a .percent{
	color: #14afb4;
	font-weight: bold;
}

.more{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #18b1b6;
	padding: 15px 0;
	margin: 15px 0 5px;
}

.more a{
	color: black;
}

footer{
  background: #f4f4f4;
  text-align: center;
  /* margin-top: 70px; */
  position: relative;
}

footer .gambar-footer
{
	background: #ebebeb;
  padding: 7px 0;
  border-bottom :1px solid rgba(51, 51, 51, 0.15);
}

footer .menu-footer{
	text-align: center;
  padding:10px 0;
	border-bottom :1px solid rgba(51, 51, 51, 0.15);
	font-size: 12px;
	font-weight: lighter;
	text-transform: uppercase;
}

footer .menu-footer > li{
	float: left;
	width: 50%;
	list-style: none;
	text-align: start;
	line-height: 1.5;
	margin-bottom:5px;
}
footer .menu-footer a {
  padding: 0 10px;
  color:#333;
}

.isi-footer{
	padding: 7px;
	text-align: center;
  font-size: 12px;
  color:#fff;
  background:#262932;
}
.state-one{
	padding: 15px 7px 7px 7px;
  font-size: 12px;
  background:#262932;
  color:#fff;
  background: rgb(16, 17, 23);
  border-bottom:1px solid #19A2AC;
}
.state-one ul
{
	list-style: none;
	padding: 0;
	text-align: center;
}
.state-one span.title-menu {
	color:#E8BF0A;
	font-size: 15px;
	font-weight: bold;
}
.state-one .menu-utama li.kategori
{
	margin-bottom: 15px; 
}
.state-one .menu-utama li.kategori li
{
	display: inline-block;
	border: 1px solid #fff;
	padding: 5px;
	margin: 0 5px 5px 0;
	
}
.state-one li a
{
	color: #fff;
}
.state-one a img 
{
	position: relative;
	margin-top: 7px;
	width: 120px;
	height: auto;
}

.isi-footer a img{
	-webkit-transform: translateX(-50%);
	        transform: translateX(-50%);
	left: 50%;
	position: absolute;
	margin-top: 20px;
	width: 150px;
	height: auto;
}

.isi-footer .list-footer{
	padding: 80px 0  20px ;
	font-size: 12px;
}

.isi-footer .list-footer a{
	display: inline-block;
	color: black;
}
/* ////////////////////////////////// */
#navs{
	position: fixed;
	right: 15px;
	bottom: 100px;
	width: 45px;
	height: 45px;
	line-height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	z-index: 2;
}

#navs>li, #navs:after{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: #e74c3c;
}

#navs>li{
	-webkit-transition: all .6s;
	transition: all .6s;
	background:transparent;
}

#navs:after{
	content: attr(data-close);
	z-index: 1;
	border-radius: 50%;
}

#navs.active:after{
	content: attr(data-open);
}

#navs a{
	display: inline-block;
	text-decoration: none;
	font-size: 0.8em;
}

#navs li img{
	width: 38px;
	height: 38px;
	border-radius: 50%;
}
#navs li .vote{
	position: absolute;
	padding: 3px 9px 3px 11px;
	background: white;
	display: inline-block;
	font-size: 12px;
	color: black;
	border: 1px solid #808080;
	border-radius: 0 45px 45px 0;
	left: 15px;
	z-index: -1;
}

/* bagian baca juga */
.baca-juga{
	clear: both;
}

.baca-juga .garis-bawah h3,
.baca-juga .garis-bawah h4{
	position: relative;
	padding: 8px 8px 8px 0;
	letter-spacing: 1px;
	color: #262932;
	margin-bottom: 0;
  /* margin-top: 25px; */
  margin-top: 10px;
}

[data-id='popular']::after{
	width: calc(100% - 125px);
}
[data-id='rekomendasi']::after{
	width: calc(100% - 155px);
}

[data-style='middle-line']::after{
	content: '';
	height: 1px;
	background: #eee;
	position: absolute;
	margin: 5px 0px 0px 10px;
}

.baca-juga .garis-bawah h3::after{
	content: '';
	height: 2px;
	width: calc(100% - 60px);
	margin:10px 0 0 10px;
	position: absolute;
	background: #eee;
}

.baca-juga ul{
  padding-left: 0px;
  /* margin-top: 12px; */
}

.baca-juga ul.list-berita-terkini li {
  width: 100%;
}
.baca-juga ul.list-berita-terkini li a{
  float: left;
}
.baca-juga ul.list-berita-terkini li img{
  float: right;
}

.baca-juga ul.list-berita-terkini li {
  padding: 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.09);
  float: left;
}

.baca-juga ul.list-berita-terkini li:last-of-type{
  border:0;
}

.baca-juga ul a{
	display: inline-block;
	color: #262932;
  font-size: 15px;
	font-weight: 300;
	width: calc(100% - 50px);
	vertical-align: middle;
	padding-left: 5px;
}
.baca-juga ul.list-berita-terkini li a {
  width: calc(100% - 125px);
}
.baca-juga ul.list-berita-terkini a .caption{
  display: block;
}
.baca-juga ul.list-berita-terkini a span{
  display: inline-block;
}

.baca-juga ul a span{
	display: table-cell;
	padding: 3px 6px;
  margin-top: 15px;
  font-size: 11px;
  border-radius: 2px;
  color:#fff;
  background-color: #1c9fa7;

  font-weight: 500;
}

.baca-juga ul a li{
	list-style: none;
	display: table-cell;
	color: black;
}

.gambar-berita:hover span#toggle-info{
  display: block;
}

.tagline
{
	/* white-space: nowrap; */
	/* overflow-x: auto; */
	margin-bottom: 25px;
}

.tagline > a
{
	display: inline-block;
	padding: 5px 12px;
	font-size: 12px;
	border-radius: 50px;
	background: #eee;
	margin-right: 7px;
	margin-bottom: 7px;
	line-height: 1.3;
}

.baca-juga-berita.terkait{
	padding: 0;
	background: #fff;
}

.baca-juga-berita
{
	padding: 10px 15px;
	background: #ebebec;
	border-radius: 7px;
}

.baca-juga-berita ul
{
	margin: 0;
	padding:0;
	padding-left: 20px;
}

.baca-juga-berita > p:first-child
{
    margin:0;
    margin-bottom: 10px;
}

.baca-juga-berita li
{
	padding-bottom:7px;
	border-bottom: 1px solid rgba(176, 190, 197, 0.29);
}

.baca-juga-berita li + li
{
	padding-top:7px;
}

.baca-juga-berita li:last-child
{
	border: none;
}

.bungkus{
	padding-top:0;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	background-color:white;
}

.bungkus.nav-nex-pre {
	padding:0;
}

.bungkus.nav-nex-pre .berita-next {text-align:right;}
.bungkus.nav-nex-pre .berita-next span {right:10px;}
.bungkus.nav-nex-pre span {position:absolute;display:block;color:#035680;font-size:22px;bottom:10px;}
.bungkus.nav-nex-pre a:first-child {border-right:1px solid rgba(0, 0, 0, 0.2);}
.bungkus.nav-nex-pre a {
	width:50%;
	padding:10px 10px 40px;
	float:left;
	font-size:17px;
	color:#333;
	font-weight:300;
	min-height:195px;
	position:relative;
}

.caption-foto{
	font-size: 13px;
	padding: 10px;
	line-height: 1.5;
	box-shadow: 0px 2px 5px 0px #eee;
	
}